input[type="radio"] {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

.options {
    padding-left: 50px;
    padding-bottom: 10px;
}

.radio-button {
    width: 30px;
    display: inline-block;
}

.radio-label {
    width: 95%;
    display: inline-block;
    vertical-align: center;
}