<br>
<a href="/">Voltar</a>
<br>

<div *ngIf="questionnaire; else loadingMessage" class="editor">
    <div class='form-title h1'>
        <app-editable-label [(text)]="questionnaire.title" (textChange)="updateQuestionnaire()"
            [canRemove]="false"></app-editable-label>
    </div>
    <div class='form-description'>
        <app-editable-label [(text)]="questionnaire.description" (textChange)="updateQuestionnaire()"
            [canRemove]="false"></app-editable-label>
    </div>
    <br>
    <div class="questions">
        <div *ngFor="let questionId of questionnaire.question_set; let i = index" [attr.data-index]="i">
            <app-radio-editor [questionId]="questionId" [numberInQuestionnarie]="i"
                (onQuestionRemove)="handleQuestionRemoved($event)"></app-radio-editor>
            <br>
        </div>
    </div>
    <br>
    <div>
        <button mat-fab extended color="primary" title='new question' aria-label="button to create a new question"
            (click)="handleNewQuestionClick()">
            <mat-icon>add</mat-icon>
            Nova Questão
        </button>
    </div>
    <br>
</div>

<ng-template #loadingMessage>
    <span>Carregando questionário.</span>
</ng-template>

<br>

<a href="/">Voltar</a>


<br>
<br>

<br>
<br>

<br>
<br>

<br>
<br>